<div id="nav-bar">
  <span id="hashtag"><a href="http://twitter.com" class="nav-link" target="_blank">#loveisgrowen</a></span>
  <h3 class="nav-text">Liz & Brett FOREVER</h3>
</div>

<div id="title">

  <p id="nav-links">
    <a href="#" class="nav-link rsvp">rsvp</a> : <a href="#" class="nav-link our-story">our story</a> : <a href="#" class="nav-link whenwhere">when & where</a> : <a href="#" class="nav-link accomodations">accommodations</a> : <a href="#" class="nav-link engagement-pics">engagement pics</a> : <a href="#" class="nav-link wedding-party">wedding party</a> : <a href="#" class="nav-link transportation">transportation</a>
  </p>


  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link rsvp">
      <div class="mobile-link-text">
        rsvp
      </div>
    </a>
  </div>


  <div id="rsvp-content" class="content">
    <p class="content-title">RSVP Online Coming Soon</p>

    <p id="story-text" style="text-align: center;">You will be able to RSVP at this page after receiving your invitation. Attire will be semiformal.</p>

    <hr>

    <p id="story-text" style="text-align: center;"><strong>A note about the guest list:</strong> We are truly blessed to have so many great people in our lives, so our venue is at capacity. That means we do not have space for everyone to have a plus-one. Please come to us if your invitation doesn't include a plus-one and that is a barrier to your attendance. Similarly, we encourage you to arrange for child care if possible. We love you all and are so grateful that you want to attend. Don't hesitate to reach out with logistical questions. Thank you!.</p>

  </div>


  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link our-story">
      <div class="mobile-link-text">
        our story
      </div>
    </a>
  </div>


  <div id="our-story-content" class="content">

    <h2 class="content-title">We are a legit power couple!</h2>

    <p id="story-text">You'll have to wait till the next season of Say Yes to the Dress for our full story. NOT kidding. Here's why they chose us:</p>

    <iframe id="story-vid" width="420" height="315" src="http://www.youtube.com/embed/9GFqdsZBX1U">
    </iframe>

  </div>

  <div id="faq-content" class="content">
    <h2 class="content-title">Da Faq?</h2>

    <ul id="faq-list">
      <li class="faq">
        <h4 class="question">Q: Is marijuana really legal in Colorado?</h4>
        <p class="answer">A: Yes! But we suspect you knew that already and that may be part of the reason you're considering attending our wedding. We're flattered really.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Does alcohol really hit you harder in the mountains?</h4>
        <p class="answer">A: Yes! (Just ask Liz about a Nadas concert here -- woof.) Our venue is at roughly 5,761 feet above sea level, so you will feel the effects of alcohol quicker if you're not used to drinking in the mountains. Just have some water too, OK? We don't want to be alone at our after-party.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring my kids to your wedding?</h4>
        <p class="answer">A. Yes! (Wait, why are we only answering yes ... ). Your kids are welcome if that's what works best for you. The ceremony will be outside, and the reception is in an old mansion, which may or may not sound fun to your kiddos (or to their parents). But we leave the decision-making up to you. </p>
      </li>
      <li class="faq">
        <h4 class="question">Q: What happens if it rains during your perfectly planned outdoor ceremony?</h4>
        <p class="answer">A: Epic meltdown. Please RUN away scared. Kidding! First, we try to wait it out a bit (Colorado summer rains are quick). Then we move it to the old Manor House ballroom upstairs. Simple. You will not watch us get married through pouring rain. Hooray.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring a date to your wedding?</h4>
        <p class="answer">A: Maybe? Are you dating someone? Was he or she on the invite? Do we know this person? We may sound like jerks, but we are absolutely at capacity with the number of people we have invited -- whoops! We just love all of you so much. But please talk to us if you have concerns.  </p>
      </li>
    </ul>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link whenwhere">
      <div class="mobile-link-text">
        when & where
      </div>
    </a>
  </div>

  <div id="whenwhere-content" class="content">

    <h2 class="content-title">August 13th, 2016</h2>

    <%= image_tag "manor-house.jpg", class: "manor-pic" %>

    <p class="description" style="text-align: center;">The Manor House</p>
    <p class="description" style="text-align: center;"><a id="manor-link" target="_blank" href="https://www.google.com/maps/place/The+Manor+House/@39.5898474,-105.1685881,15z/data=!4m2!3m1!1s0x0:0x25315a25a5b4b300?sa=X&ved=0CIgBEPwSMA1qFQoTCNC09o3398gCFURZiAodd8IA1Q">1 Manor House Road Littleton, CO 80127</a></p>

    <h4 class="day">Friday, August 12:</h4>

    <ul class="schedule">
      <li>9:00 pm - Wedding pre-party for all who are in town. Location TBD but near wedding hotels.</li>
    </ul>

    <h4 class="day">Saturday, August 13:</h4>

    <ul class="schedule">
      <li>5:00 pm - Ceremony at the Manor House. There is plenty of parking at the venue, and you can leave cars overnight if necessary. More info on transportation can be found on the <a href="#" class="accomodations link">accommodations page</a>.</li>
      <li>5:30 pm - Cocktail hour at the Manor House</li>
      <li>6:30 pm - Dinner followed by dancing. Remain at the Manor House!</li>
      <li>11:00 pm - Reception ends, and the after-party begins. We've reserved the upstairs of <a href="http://www.littletonbarandgrill.com/" class="link" target="_blank">Rox Bar & Grill</a>, <a target="_blank" href="https://www.google.com/maps/place/Rox+Bar+%26+Grill/@39.5794779,-105.1403363,15z/data=!4m2!3m1!1s0x0:0xf3d0c2e6aa35b26e?sa=X&ved=0CHkQ_BIwDWoVChMI6Zj8tv33yAIVz52ICh0a4QLm" class="link">12684 W Indore Place</a>, from 11 p.m. to 2 a.m. for an after-party celebration. The bar is located a short walk from the wedding hotels and a short drive from the Manor House. So keep your party pants on, folks!</li>
    </ul>

    <h4 class="day">Sunday, August 14:</h4>

    <ul class="schedule">
      <li>Working on plans to say goodbye over breakfast. More info when we have it!</li>
    </ul>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link accomodations">
      <div class="mobile-link-text">
        accommodations
      </div>
    </a>
  </div>

  <div id="accomodations-content" class="content">
    <h2 class="content-title">The Digs</h2>
    
    <p class="description" style="text-align: center;">We've reserved blocks of rooms in two hotels that are about a five-minute drive from the ceremony/reception venue and about a five-minute walk from the reception after-party location. Both hotels offer small shuttles to the venue, and Uber and taxis are available. We may add more shuttles depending on demand. Stay tuned! <strong>The hotels:</strong></p>

    <hr>

    
    <div class="hotel-block">
      <%= image_tag("homewood.jpg", class: "hotel-pic") %>
      <h3 class="hotel-name">Homewood Suites</h3>

      <a target="_blank" class="hotel-link" href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/D/DENLIHW-OWG-20160811/index.jhtml?WT.mc_id=POG"><button class="book-button">book online</button></a>
      
      <p class="description">Prices for the rooms in the wedding block are king studio suites (4 people) at $179 per night, king one-bedroom suite (4) at $199 per night, double queen one-bedroom suite (6) at $219, and 1 king with double queen two-bedroom suite at $399 per night. Each room has a full kitchen. Breakfast is included along with a light supper with complimentary beer and wine during the evening on Monday-Thursday. The hotel has a heated pool and fitness center. You can reserve a room by calling 720-981-4763 and asking for the Owens/Grigsby wedding block or just click <a target="_blank" class="hotel-link" href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/D/DENLIHW-OWG-20160811/index.jhtml?WT.mc_id=POG">HERE</a>. The wedding block rate is available from Aug. 11 through Aug. 14 and for additional nights by calling the hotel. Be sure to reserve by July 1.</p>
    </div>

    <hr>

    
    <div class="hotel-block">
      <%= image_tag("hampton.jpg", class: "hotel-pic") %>
      <h3 class="hotel-name">Hampton Inn</h3>

      <a target="_blank" class="hotel-link" href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-littleton-DENLTHX/index.html"><button class="book-button">book online</button></a>

      <p class="description" style="text-align: center;">Group Code: OGW</p>

      <p class="description">Prices for the rooms in the hotel block are $149 night for either a room with one king or a room with two queens. For an extra $20 per night, you can reserve a room with a wet bar and a fridge. Breakfast is included along with a complimentary light dinner with beer and wine Monday-Thursday evenings. There is an indoor pool and fitness center. You must reserve by July 11. The wedding block rate is available from Aug. 10 to Aug. 15. Reservations can be booked by calling the hotel directly or by booking online <a target="_blank" class="hotel-link" href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-littleton-DENLTHX/index.html">HERE</a>.  After the dates are entered, "add special rate codes" should be selected and then the GROUP code OGW should be entered.</p>
    </div>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link engagement-pics">
      <div class="mobile-link-text">
        engagement pics
      </div>
    </a>
  </div>

  <div id="engagement-pics-content" class="content">
    <p id="sally" class="description">all photos by the very talented Sally MacNicholas</p>

    <%= image_tag "briz-24.jpg", id: "main-photo" %>

    <br>

    <table id="engagement-thumbnails">
      <tr>
        <td class="thumb"><a id="briz-24" href="#" class="nail" data-img=<%= image_path "briz-24.jpg" %>><%= image_tag "briz-24-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-29.jpg" %>><%= image_tag "briz-29-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-1.jpg" %>><%= image_tag "briz-1-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-6.jpg" %>><%= image_tag "briz-6-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-12.jpg" %>><%= image_tag "briz-12-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-14.jpg" %>><%= image_tag "briz-14-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-18.jpg" %>><%= image_tag "briz-18-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-9.jpg" %>><%= image_tag "briz-9-thumb.jpg" %></a></td> 
      </tr>
      <tr>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-39.jpg" %>><%= image_tag "briz-39-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-40.jpg" %>><%= image_tag "briz-40-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-41.jpg" %>><%= image_tag "briz-41-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-51.jpg" %>><%= image_tag "briz-51-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-54.jpg" %>><%= image_tag "briz-54-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-66.jpg" %>><%= image_tag "briz-66-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-37.jpg" %>><%= image_tag "briz-37-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-44.jpg" %>><%= image_tag "briz-44-thumb.jpg" %></a></td> 
     </tr>
    </table>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link wedding-party">
      <div class="mobile-link-text">
        wedding party
      </div>
    </a>
  </div>

  <div id="wedding-party-content" class="content">
    <p id="wp-filters"><a href="#" id="liz" class="wp-filter">bride's peeps</a> : <a href="#" id="brett" class="wp-filter">groom's peeps</a> : <a href="#" id="more" class="wp-filter">more peeps</a></p>

    <ul id="liz-list" class="wp-list">
      <li>
        <h4 class="wp-name">Sara "Stark" Beaton</h4>
        <p class="wp-description">High school friend. Queen of the dance floor. Fellow troublemaker.</p>
      </li>
      <li>
        <h4 class="wp-name">Hannah Moulton Belec</h4>
        <p class="wp-description">Grad school friend. Forever pen pal. Better half of the legendary #TeamHBandLizO. </p>
      </li>
      <li>
        <h4 class="wp-name">Alisa Chester</h4>
        <p class="wp-description">Grad school friend. Party and cackling soulmate. Member of the original brunch crew. </p>
      </li>
      <li>
        <h4 class="wp-name">Nikki Guillot</h4>
        <p class="wp-description">College roomie. Crafty mofo. Source of thoughtfulness and delightful commentary. </p>
      </li>
      <li>
        <h4 class="wp-name">Tiffany Hartkemeyer</h4>
        <p class="wp-description">Friends since she saw me in fifth grade and KNEW we would be best friends (I'm lucky). Keeper of all of my memories. We get better with age. </p>
      </li>
      <li>
        <h4 class="wp-name">Cynthia Reynaud</h4>
        <p class="wp-description">Friend from our Des Moines Register days. Co-creator of the downtown Des Moines bar scene. Now taking on summer 2016 weddings together. <3  </p>
      </li>
      <li>
        <h4 class="wp-name">Jessica Schuttler</h4>
        <p class="wp-description">Lady of honor. College roomie. Dispenser of life wisdom. Expert pizza orderer. </p>
      </li>
      <li>
        <h4 class="wp-name">Tanner Stransky</h4>
        <p class="wp-description">Best man. College roomie. Inventor of EVERYTHING. My person. </p>
      </li>
    </ul>

    <ul id="brett-list" class="wp-list">
      <p>ranked by coolness</p>
      <li>
        <h4 class="wp-name">Kellen Cruden</h4>
        <p class="wp-description">Improv partner. Rapper. Man's man.</p>
      </li>
      <li>
        <h4 class="wp-name">Joe Grigsby</h4>
        <p class="wp-description">Best man. Brother of the groom. A real grown-up.</p>
      </li>
      <li>
        <h4 class="wp-name">Tom Hipp</h4>
        <p class="wp-description">Band-mate. Pledge-son. Tom Fast. Tom Furious.</p>
      </li>
      <li>
        <h4 class="wp-name">Scott Johnson</h4>
        <p class="wp-description">Oldest friend. Smart-ass. All around passable.</p>
      </li>
      <li>
        <h4 class="wp-name">Matt Owens</h4>
        <p class="wp-description">Brother of the bride. Another smart-ass. Would help me bury the body.</p>
      </li>
      <li>
        <h4 class="wp-name">David Steeby</h4>
        <p class="wp-description">Salt of the earth. Mixologist. Hair plan.</p>
      </li>
      <li>
        <h4 class="wp-name">Tyler Stransky</h4>
        <p class="wp-description">Uggghhhhhh...</p>
      </li>
      <li>
        <h4 class="wp-name">Byron Watkins</h4>
        <p class="wp-description">Beach Roommate. Platinum B. Eskimo.</p>
      </li>
    </ul>

    <ul id="more-list" class="wp-list">
      <h4 class="more-cat">Officiants</h4>
      <li>
        <p class="more-name">Layne Amerikaner - grad school friend of the bride</p>
        <p class="more-name">Joe Levin - friend to all animals</p>
      </li>
      <h4 class="more-cat">Reader</h4>
      <li>
        <p class="more-name">Amanda Grigsby - sister-in-law of the groom</p>
      </li>
      <h4 class="more-cat">Flower Girls</h4>
      <li>
        <p class="more-name">Lilly Grigsby - niece of the groom</p>
        <p class="more-name">Etta Grigsby - niece of the groom</p>
      </li>
      <h4 class="more-cat">Ceremony Musician</h4>
      <li>
        <p class="more-name">Annie Grigsby - niece of the groom</p>
      </li>
      <h4 class="more-cat">Greeters</h4>
      <li>
        <p class="more-name">Kaihtlyn Grigsby - niece of the groom</p>
      </li>
      <li>
        <p class="more-name">Amy Jennings - high school friend of the bride</p>
        <p class="more-name">Alicia Rausch - high school friend of the bride</p>
      </li>
    </ul>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link transportation">
      <div class="mobile-link-text">
        transportation
      </div>
    </a>
  </div>
  
  <div id="transportation-content" class="content">
    <p class="content-title">From Denver International Airport</p>
    <p class="transport-text">We've come up with a few different options for transit from the airport to the wedding hotels. The hotels are about a 45-minute drive from the airport.</p>
    <h4 class="transport-title">Uber/Lyft</h4>
    <p class="transport-text">The fare estimate for a one-way trip from the airport is around $80.</p>
    <h4 class="transport-title">Super Shuttle</h4>
    <p class="transport-text">Super Shuttle is $50 for one way in a shared van. Exclusive non-stop van service is $190 for one way and can hold up to 10 people.</p>
    <h4 class="transport-title">Car Rental</h4>
    <p class="transport-text">A car rental could end up being a relatively inexpensive option depending on the size of your group, and it would enable you to take in other Colorado scenery. </p>
    <h4 class="transport-title">Public Transit (3 options)</h4>
    <ul>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). At Union Station, get on the C line to Mineral Station ($4.50). At Mineral Station, take the 85 bus westbound and get off at Ken Caryl Ave and South Alkire Street ($2.60). From there, it's about an eight-minute walk to the hotels.</p>
      </li>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). At Union Station, get on the C line to Mineral Station ($4.50). At Mineral Station, take an Uber or Lyft to the hotel (around $15).</p>
      </li>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). Take an Uber/Lyft from there to the hotel (about $35).</p>
      </li>
    </ul>
  </div>
</div>
