<div class="container-fluid">
  <div id="nav-bar" class="row">
    <div class="col-xs-12 col-lg-8">
      <h2 id="site-title">Liz & Brett FOREVER</h2>
    </div>
    <div class="col-xs-12 col-lg-4" style="text-align: right;">
      <a href="https://twitter.com/intent/tweet?button_hashtag=loveisgrowen" target="_blank">#loveisgrowen</a>
    </div>
  </div>

  <div id="title">

    <div class="row">
      <div class="col-sm-12">
        <p id="nav-links" class="center">
          <a href="#" class="nav-link our-story">our story</a> : <a href="#" class="nav-link whenwhere">when & where</a> : <a href="#" class="nav-link accomodations">accommodations</a> : <a href="#" class="nav-link engagement-pics">engagement pics</a> : <a href="#" class="nav-link wedding-party">wedding party</a> : <a href="#" class="nav-link transportation">transportation</a> : <a href="#" class="nav-link todo">things to do</a> : <a href="#" class="nav-link registry">registry</a>
        </p>
      </div>
    </div>

  <div id="rsvp-content" class="content">
    <p class="content-title">Find My RSVP</p>


    <hr>

    <p class="content-title">Please enter your first and last name, and you will be directed to the RSVP for your party.</p>

    <div style="text-align: center;">
      <form>
        <input type="text" placeholder="Enter Your Name" id="rsvp-name">
        
        <button id="rsvp-find">Find My RSVP</button>
      </form>
    </div>

    <hr>

    <p id="story-text" style="text-align: center;">If you're having trouble accessing your RSVP, <a href="mailto:gbrett@gmail.com">shoot me an email.</a></p>

    <p id="story-text" style="text-align: center;">You will need to RSVP for each member of your party who is attending; all of the names have been pre-entered. We are truly blessed to have so many great people in our lives, so our venue is at capacity. Please come to us if your invitation did not include a plus-one and that's a barrier to your attendance. We love you all and are so grateful that you want to attend. Thank you!</p>

    <p id="story-text" style="text-align: center;">Attire is semi-formal. Make sure you can dance in whatever you wear.</p>

  </div>


  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link our-story">
      <div class="mobile-link-text">
        our story
      </div>
    </a>
  </div>


  <div id="our-story-content" class="content">

    <h2 class="content-title">A Power Couple for the Modern Century!</h2>

    <p id="story-text" style="margin: 20px;">Liz and Brett found each other in a magical wonderland known as Washington D.C. There, Brett used his knowledge of yoga and bad jokes to woo Liz in a manner that is befitting of a regal woman such as her. She of course was smitten from the onset of such powerful courting, so the two decided to stop depriving the world of the greatest coupling since Alexander and Cleopatra. Then there was some kissing, and they decided to move to Denver and start their lives as the power couple you know today.</p>

    <p id="story-text" style="margin: 20px;">We filmed this video for an application to Say Yes to the Dress. Here's hoping we're on someday. Enjoy a little nugget of our lives!</p>

    <iframe id="story-vid" width="420" height="315" src="http://www.youtube.com/embed/9GFqdsZBX1U">
    </iframe>

  </div>

  <div id="faq-content" class="content">
    <h2 class="content-title">Da Faq?</h2>

    <ul id="faq-list">
      <li class="faq">
        <h4 class="question">Q: Is marijuana really legal in Colorado?</h4>
        <p class="answer">A: Yes! But we suspect you knew that already and that may be part of the reason you're considering attending our wedding. We're flattered really.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Does alcohol really hit you harder in the mountains?</h4>
        <p class="answer">A: Yes! (Just ask Liz about a Nadas concert here -- woof.) Our venue is at roughly 5,761 feet above sea level, so you will feel the effects of alcohol quicker if you're not used to drinking in the mountains. Just have some water too, OK? We don't want to be alone at our after-party.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring my kids to your wedding?</h4>
        <p class="answer">A. Yes! (Wait, why are we only answering yes ... ). Your kids are welcome if that's what works best for you. The ceremony will be outside, and the reception is in an old mansion, which may or may not sound fun to your kiddos (or to their parents). But we leave the decision-making up to you. </p>
      </li>
      <li class="faq">
        <h4 class="question">Q: What happens if it rains during your perfectly planned outdoor ceremony?</h4>
        <p class="answer">A: Epic meltdown. Please RUN away scared. Kidding! First, we try to wait it out a bit (Colorado summer rains are quick). Then we move it to the old Manor House ballroom upstairs. Simple. You will not watch us get married through pouring rain. Hooray.</p>
      </li>
      <li class="faq">
        <h4 class="question">Q: Can I bring a date to your wedding?</h4>
        <p class="answer">A: Maybe? Are you dating someone? Was he or she on the invite? Do we know this person? We may sound like jerks, but we are absolutely at capacity with the number of people we have invited -- whoops! We just love all of you so much. But please talk to us if you have concerns.  </p>
      </li>
    </ul>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link whenwhere">
      <div class="mobile-link-text">
        when & where
      </div>
    </a>
  </div>

  <div id="whenwhere-content" class="content">

    <h2 class="content-title">August 13th, 2016</h2>

    <%= image_tag "manor-house.jpg", class: "manor-pic" %>

    <p class="description" style="text-align: center;">The Manor House</p>
    <p class="description" style="text-align: center;"><a target="_blank" href="https://www.google.com/maps/place/The+Manor+House/@39.5898474,-105.1685881,15z/data=!4m2!3m1!1s0x0:0x25315a25a5b4b300?sa=X&ved=0CIgBEPwSMA1qFQoTCNC09o3398gCFURZiAodd8IA1Q">1 Manor House Road Littleton, CO 80127</a></p>

    <h4 class="day">Friday, August 12:</h4>

    <ul class="schedule">
      <li>8:00-10:00 pm - Everyone is invited to get the party started with us on Friday. We'll be hosting welcome drinks on the first floor of the Hampton Inn, <a href="https://www.google.com/maps/place/Hampton+Inn+%26+Suites+Denver+Littleton/@39.5774962,-105.1378833,15z/data=!4m5!3m4!1s0x0:0x41c2bc158773748c!8m2!3d39.5774962!4d-105.1378833" target="_blank">7611 Shaffer Pkwy, Littleton, CO</a>. The event will be hosted in the Creekside Mountain View Room.</li>
    </ul>

    <h4 class="day">Saturday, August 13:</h4>

    <ul class="schedule">
      <li>5:00 pm - Outdoor ceremony at the Manor House. There is plenty of parking at the venue, and you can leave cars overnight if necessary. More info on transportation can be found on the <a href="#" class="accomodations">accommodations page</a>.</li>
      <li>5:30 pm - Cocktail hour at the Manor House</li>
      <li>6:30-11:00 pm - Dinner followed by dancing.</li>
      <li>11:00-2:00 am - The after-party begins. We've reserved the upstairs of <a href="http://www.littletonbarandgrill.com/" target="_blank">Rox Bar & Grill</a>, <a target="_blank" href="https://www.google.com/maps/place/Rox+Bar+%26+Grill/@39.5794779,-105.1403363,15z/data=!4m2!3m1!1s0x0:0xf3d0c2e6aa35b26e?sa=X&ved=0CHkQ_BIwDWoVChMI6Zj8tv33yAIVz52ICh0a4QLm">12684 W Indore Place</a>, for an after-party celebration. The bar is located a short walk from the wedding hotels and a short drive from the Manor House. So keep your party pants on, folks!</li>
    </ul>

    <h4 class="day">Sunday, August 14:</h4>

    <ul class="schedule">
      <li>9:00-10:00 am - The bride and groom will be saying farewell to guests in the breakfast area of the Hampton Inn,  <a href="https://www.google.com/maps/place/Hampton+Inn+%26+Suites+Denver+Littleton/@39.5774962,-105.1378833,15z/data=!4m5!3m4!1s0x0:0x41c2bc158773748c!8m2!3d39.5774962!4d-105.1378833" target="_blank">7611 Shaffer Pkwy, Littleton, CO</a>. Come say bye -- and eat breakfast too! Breakfast is included if you're staying at the Hampton, and we'll have breakfast tickets available if you're not staying there.</li>
    </ul>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link accomodations">
      <div class="mobile-link-text">
        accommodations
      </div>
    </a>
  </div>

  <div id="accomodations-content" class="content">
    <h2 class="content-title">The Digs</h2>
    
    <p class="description" style="text-align: center;">We've reserved blocks of rooms in two hotels that are about a five-minute drive from the ceremony/reception venue and about a five-minute walk from the reception after-party location. Both hotels will have shuttles to the venue, and more information about shuttle times will be available at check-in. Uber, Lyft and taxis are also an option for the short ride to the Manor House. <strong>The hotels:</strong></p>

    <hr>

    
    <div class="hotel-block">
      <%= image_tag("homewood.jpg", class: "hotel-pic") %>
      <h3 class="hotel-name">Homewood Suites</h3>

      <a target="_blank" class="hotel-link" href="http://homewoodsuites3.hilton.com/en/hotels/colorado/homewood-suites-by-hilton-denver-littleton-DENLIHW/index.html"><button class="book-button">book online</button></a>
      
      <p class="description">The window to get a suite at our group rate has expired, but there are still suites available for the wedding weekend. Each room has a full kitchen. Breakfast is included along with a light supper with complimentary beer and wine during the evening on Monday-Thursday. The hotel has an indoor pool, hot tub, and fitness center. You can reserve a room by calling 720-981-4763 or just click <a target="_blank" class="hotel-link" href="http://homewoodsuites3.hilton.com/en/hotels/colorado/homewood-suites-by-hilton-denver-littleton-DENLIHW/index.html">HERE</a>.</p>
    </div>

    <hr>

    
    <div class="hotel-block">
      <%= image_tag("hampton.jpg", class: "hotel-pic") %>
      <h3 class="hotel-name">Hampton Inn</h3>

      <a target="_blank" class="hotel-link" href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-littleton-DENLTHX/index.html"><button class="book-button">book online</button></a>

      <p class="description"> The window to get a room at our group rate has expired, but there are still rooms available for the wedding weekend. Breakfast is included along with a complimentary light dinner with beer and wine Monday-Thursday evenings. There is an indoor pool, hot tub, and fitness center. Reservations can be booked by calling the hotel directly or by booking online <a target="_blank" class="hotel-link" href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-littleton-DENLTHX/index.html">HERE</a>.</p>
    </div>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link engagement-pics">
      <div class="mobile-link-text">
        engagement pics
      </div>
    </a>
  </div>

  <div id="engagement-pics-content" class="content">
    <p id="sally" class="description">all photos by the very talented Sally MacNicholas</p>

    <%= image_tag "briz-24.jpg", id: "main-photo" %>

    <br>

    <table id="engagement-thumbnails">
      <tr>
        <td class="thumb"><a id="briz-24" href="#" class="nail" data-img=<%= image_path "briz-24.jpg" %>><%= image_tag "briz-24-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-29.jpg" %>><%= image_tag "briz-29-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-1.jpg" %>><%= image_tag "briz-1-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-6.jpg" %>><%= image_tag "briz-6-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-12.jpg" %>><%= image_tag "briz-12-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-14.jpg" %>><%= image_tag "briz-14-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-18.jpg" %>><%= image_tag "briz-18-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-9.jpg" %>><%= image_tag "briz-9-thumb.jpg" %></a></td> 
      </tr>
      <tr>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-39.jpg" %>><%= image_tag "briz-39-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-40.jpg" %>><%= image_tag "briz-40-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-41.jpg" %>><%= image_tag "briz-41-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-51.jpg" %>><%= image_tag "briz-51-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-54.jpg" %>><%= image_tag "briz-54-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-66.jpg" %>><%= image_tag "briz-66-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-37.jpg" %>><%= image_tag "briz-37-thumb.jpg" %></a></td>
        <td class="thumb"><a id="briz-29" href="#" class="nail" data-img=<%= image_path "briz-44.jpg" %>><%= image_tag "briz-44-thumb.jpg" %></a></td> 
     </tr>
    </table>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link wedding-party">
      <div class="mobile-link-text">
        wedding party
      </div>
    </a>
  </div>

  <div id="wedding-party-content" class="content">
    <p id="wp-filters"><a href="#" id="liz" class="wp-filter">bride's peeps</a> : <a href="#" id="brett" class="wp-filter">groom's peeps</a> : <a href="#" id="more" class="wp-filter">more peeps</a></p>

    <ul id="liz-list" class="wp-list">
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("stark.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Sara "Stark" Beaton</h4>
            <p class="wp-description">High school friend. Queen of the dance floor. Fellow troublemaker.</p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Hannah Moulton Belec</h4>
            <p class="wp-description">Grad school friend. Forever pen pal. Better half of the legendary #TeamHBandLizO. </p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("hannah.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("alisa.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Alisa Chester</h4>
            <p class="wp-description">Grad school friend. Party and cackling soulmate. Member of the original brunch crew. </p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Nikki Guillot</h4>
            <p class="wp-description">College roomie. Crafty mofo. Source of thoughtfulness and delightful commentary. </p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("nikki.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("tiffany.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Tiffany Hartkemeyer</h4>
            <p class="wp-description">Friends since she saw me in fifth grade and KNEW we would be best friends (I'm lucky). Keeper of all of my memories. We get better with age. </p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Cynthia Reynaud</h4>
            <p class="wp-description">Friend from our Des Moines Register days. Co-creator of the downtown Des Moines bar scene. Now taking on summer 2016 weddings together. <3</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("cynthia.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("jessica.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Jessica Schuttler</h4>
            <p class="wp-description">Lady of honor. College roomie. Dispenser of life wisdom. Expert pizza orderer. </p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Tanner Stransky</h4>
            <p class="wp-description">Best man. College roomie. Inventor of EVERYTHING. My person. </p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("tanner.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
    </ul>

    <ul id="brett-list" class="wp-list">
      <p>ranked by coolness</p>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Kellen Cruden</h4>
            <p class="wp-description">Improv partner. Rapper. Man's man.</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("kellen.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("joe.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Joe Grigsby</h4>
            <p class="wp-description">Best man. Brother of the groom. A real grown-up.</p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Thomas Hipp</h4>
            <p class="wp-description">Band-mate. Pledge-son. Tom Fast. Tom Furious.</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("tom.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("scott.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Scott Johnson</h4>
            <p class="wp-description">Oldest friend. Smart-ass. All around passable.</p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Matt Owens</h4>
            <p class="wp-description">Brother of the bride. Another smart-ass. Would help me bury the body.</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("matt.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("dave.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">David Steeby</h4>
            <p class="wp-description">Salt of the earth. Mixologist. Hair plan.</p>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-8">
            <h4 class="wp-name">Tyler Stransky</h4>
            <p class="wp-description">Uggghhhhhh...</p>
          </div>
          <div class="col-sm-4">
            <%= image_tag("tyler.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
        </div>
      </li>
      <hr>
      <li>
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("byron.jpg", class: "img-rounded img-responsive peep-pic") %>
          </div>
          <div class="col-sm-8">
            <h4 class="wp-name">Byron Watkins</h4>
            <p class="wp-description">Beach Roommate. Platinum B. Eskimo.</p>
          </div>
        </div>
      </li>
    </ul>

    <ul id="more-list" class="wp-list">
      <h4 class="more-cat">Officiants</h4>
      <li>
        <p class="more-name">Layne Amerikaner - grad school friend of the bride</p>
        <p class="more-name">Joe Levin - friend to all animals</p>
      </li>
      <h4 class="more-cat">Reader</h4>
      <li>
        <p class="more-name">Amanda Grigsby - sister-in-law of the groom</p>
      </li>
      <h4 class="more-cat">Flower Girls</h4>
      <li>
        <p class="more-name">Lilly Grigsby - niece of the groom</p>
        <p class="more-name">Etta Grigsby - niece of the groom</p>
      </li>
      <h4 class="more-cat">Ceremony Musician</h4>
      <li>
        <p class="more-name">Annie Grigsby - niece of the groom</p>
      </li>
      <h4 class="more-cat">Greeters</h4>
      <li>
        <p class="more-name">Kaihtlyn Grigsby - niece of the groom</p>
      </li>
      <li>
        <p class="more-name">Amy Jennings - high school friend of the bride</p>
        <p class="more-name">Alicia Rausch - high school friend of the bride</p>
      </li>
    </ul>

  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link transportation">
      <div class="mobile-link-text">
        transportation
      </div>
    </a>
  </div>
  
  <div id="transportation-content" class="content">
    <p class="content-title">From Denver International Airport</p>
    <p class="transport-text">We've come up with a few different options for transit from the airport to the wedding hotels. The hotels are about a 45-minute drive from the airport.</p>
    <h4 class="transport-title">Uber/Lyft</h4>
    <p class="transport-text">The fare estimate for a one-way trip from the airport is around $80.</p>
    <h4 class="transport-title">Super Shuttle</h4>
    <p class="transport-text">Super Shuttle is $50 for one way in a shared van. Exclusive non-stop van service is $190 for one way and can hold up to 10 people.</p>
    <h4 class="transport-title">Car Rental</h4>
    <p class="transport-text">A car rental could end up being a relatively inexpensive option depending on the size of your group, and it would enable you to take in other Colorado scenery. </p>
    <h5 class="transport-title">Public Transit (3 options) <a target="_blank" href="http://www.rtd-denver.com/GoogleTripPlanner.shtml?origin=location&destination=location&tp-origin-location=Denver+International+Airport%2C+Denver%2C+CO%2C+United+States&tp-destination-location=Hampton+Inn+%26+Suites+Denver+Littleton%2C+Shaffer+Parkway%2C+Littleton%2C+CO%2C+United+States&tp-when=dep&tp-date=08%2F11%2F2016&tp-hour=05&tp-minute=41&tp-ampm=p&tp-prefer=best&tp.tripDestination=eyJuYW1lIjoiZGVzdGluYXRpb24iLCJzdGF0dXMiOnRydWUsInZhbHVlIjoibG9jYXRpb24iLCJhZGRyZXNzIjoiSGFtcHRvbiBJbm4gJiBTdWl0ZXMgRGVudmVyIExpdHRsZXRvbiwgU2hhZmZlciBQYXJrd2F5LCBMaXR0bGV0b24sIENPLCBVbml0ZWQgU3RhdGVzIiwiZm9ybWF0dGVkX2FkZHJlc3MiOiI3NjExIFNoYWZmZXIgUGt3eSwgTGl0dGxldG9uLCBDTyA4MDEyNywgVVNBIiwiTGF0IjozOS41Nzc0OTYyLCJMbmciOi0xMDUuMTM3ODgzM30%3D&tp.tripOrigin=eyJuYW1lIjoib3JpZ2luIiwic3RhdHVzIjp0cnVlLCJ2YWx1ZSI6ImxvY2F0aW9uIiwiYWRkcmVzcyI6IkRlbnZlciBJbnRlcm5hdGlvbmFsIEFpcnBvcnQsIERlbnZlciwgQ08sIFVuaXRlZCBTdGF0ZXMiLCJmb3JtYXR0ZWRfYWRkcmVzcyI6Ijg1MDAgUGXDsWEgQmx2ZCwgRGVudmVyLCBDTyA4MDI0OSwgVVNBIiwiTGF0IjozOS44NTYwOTYzLCJMbmciOi0xMDQuNjczNzM3NTk5OTk5OTh9">View the breakdown of this trip on Trip Planner</a></h4>
    <ul>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). At Union Station, get on the C line to Mineral Station ($4.50). At Mineral Station, take the 85 bus westbound and get off at Ken Caryl Ave and South Alkire Street ($2.60). From there, it's about an eight-minute walk to the hotels.</p>
      </li>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). At Union Station, get on the C line to Mineral Station ($4.50). At Mineral Station, take an Uber or Lyft to the hotel (around $15).</p>
      </li>
      <li>
        <p class="transport-text">Take the light rail to Union Station ($9 per person). Take an Uber/Lyft from there to the hotel (about $35).</p>
      </li>
    </ul>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link todo">
      <div class="mobile-link-text">
        things to do
      </div>
    </a>
  </div>
  
  <div id="todo-content" class="content">
    <h2 class="content-title">Things To Do</h2>
    <ul style="list-style-type: none;">
      <li>
        <h3 class="transport-title">See the Best Concert of Your Life at Red Rocks</h3>
        <p class="transport-text">Seriously, a show at Red Rocks will blow your mind. Check out the <a target="_blank" href="http://redrocksonline.com/concerts-events/listing">concert schedule</a>.</p>
      </li>
      <li>
        <h3 class="transport-title">Drink Beer</h3>
        <p class="transport-text">Caveat: We’re not huge beer drinkers, but we still kind of know what’s cool. The Denver neighborhood we live in (River North or RiNo) is home to SO MANY breweries. We’d recommend <a target="_blank" href="http://ratiobeerworks.com/">Ratio</a>, <a target="_blank" href="http://www.epicbrewing.com/">Epic</a>, <a target="_blank" href="http://greatdivide.com/">Great Divide</a> and <a target="_blank" href="http://www.crookedstave.com/">Crooked Stave</a> (which is a sour brewery in the <a target="_blank" href="http://www.thesourcedenver.com/">Source</a>, an artisan market that is also cool). We also really like <a target="_blank" href="http://www.firstdraftdenver.com/">First Draft</a>, where you pour as much of whatever beers you want and get charged at the end.</p>
      </li>
      <li>
        <h3 class="transport-title">Take a Boozy Tour</h3>
        <p class="transport-text">Stranahan's whiskey tours are interesting and feature a healthy pour at the end. You can <a target="_blank" href="http://www.stranahans.com/tours.php">make resevations online</a>. We haven't done a <a target="_blank" href="http://www.millercoors.com/breweries/coors-brewing-company/tours">Coors Brewery Tour</a> yet, but we suspect it'll be of interest for some (many) of you!</p>
      </li>
      <li>
        <h3 class="transport-title">Take a Hike</h3>
        <p class="transport-text">Colorado is full of amazing hikes, including several near the wedding venue: <a target="_blank" href="http://www.coloradotrail.org/waterton.html">Waterton Canyon</a>, <a target="_blank" href="http://cpw.state.co.us/placestogo/parks/Roxborough/Pages/Trails.aspx">Roxborough State Park</a>, <a target="_blank" href="http://www.dinoridge.org/stufftodo.html">Dinosaur Ridge</a>, and <a target="_blank" href="http://jeffco.us/open-space/parks/reynolds-park/trail-profiles/">Reynolds Park</a>.</p>
      </li>
      <li>
        <h3 class="transport-title">Soak in Hot Springs</h3>
        <p class="transport-text"><a target="_blank" href="http://www.colorado.com/articles/27-colorado-hot-springs-quick-guide">None of these</a> are super close to Denver, but they’re worth a drive if you have the time. We recommend Mount Princeton.</p>
      </li>
      <li>
        <h3 class="transport-title">Visit a Dispensary</h3>
        <p class="transport-text">Yes, marijuana is legal. Get yourself to a dispensary! (If that's your thing.)</p>
      </li>
      <li>
        <h3 class="transport-title">Enjoy Some Ice Cream</h3>
        <p class="transport-text">Denver has a robust ice cream scene. Our favorite is <a target="_blank" href="http://www.littlemanicecream.com/">Little Man.</a></p>
      </li>
      <li>
        <h3 class="transport-title">Explore Union Station</h3>
        <p class="transport-text"><a target="_blank" href="http://unionstationindenver.com/">It’s awesome</a> to look at, and it has a <a target="_blank" href="http://www.terminalbardenver.com/">cool bar</a> and a <a target="_blank" href="http://unionstationindenver.com/shop-dine/milkbox-ice-creamery">shop</a> that sells Little Man ice cream (see above).</p>
      </li>
      <li>
        <h3 class="transport-title">Cheer on the Rockies</h3>
        <p class="transport-text">The Rockies are out of town our wedding weekend, but if you’re doing an extended stay in Colorado, they’re <a target="_blank" href="http://colorado.rockies.mlb.com/ticketing/index.jsp?c_id=col">back on Monday the 15th</a>!</p>
      </li>
      <li>
        <h3 class="transport-title">Nerd Out at a Gaming Arena</h3>
        <p class="transport-text"><a target="_blank" href="http://clutcharena.com/">Clutch</a> is a LAN center for elite gamers. Liz has no idea what this means, but Brett really likes it. You might too.</p>
      </li>
      <li>
        <h3 class="transport-title">Dine at Casa Bonita</h3>
        <p class="transport-text">WHY is <a target="_blank" href="http://www.casabonitadenver.com/">this place</a> even famous? South Park? But anyway, it’s entertaining, if not particularly appetizing. </p>
      </li>
    </ul>
  </div>

  <div class="mobile-nav-link">
    <hr>
    <a href="#" class="nav-link registry">
      <div class="mobile-link-text">
        registry
      </div>
    </a>
  </div>

  <div id="registry-content" class="content" style="text-align: center;">
    <p class="content-title">Registry</p>
    
    <hr>

    <h2 class="registry-link"><a href="http://www.crateandbarrel.com/gift-registry/elizabeth-owens-and-brett-grigsby/r5459397" target="_blank">Crate and Barrel</a></h2>

    <h2 class="registry-link"><a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=KmqoIKIjpullgrQsLM1J1Q&clkid=49f37fc7N520322612f026cbc1770d940&lnm=81938&afid=The+Knot%2C+Inc.+and+Subsidiaries&ref=tgt_adv_xasd0002" target="_blank">Target</a></h2>

    <h2 class="registry-link"><a href="http://www.wanderable.com/hm/LizAndBrett20160319da39" target="_blank">Honeymoon Fund</a></h2>

    <p id="story-text" style="text-align: center;">If you want our address to send a card, please <a href="mailto:gbrett@gmail.com">shoot me an email.</a></p>
  </div>
</div>
</div>
