<div class="container">

  <div class="row">
    <div>
      <h1>Da RSVPs</h1>
      <h2>Attending: <%= @attending %> | Declined: <%= @declined %> | Drinks: <%= @drinks %> | Breakfast: <%= @breakfast %></h2>
      <hr>
    </div>
  </div>


  <div class="row">
    <h1>Submitted</h1>
    
    <% @rsvps.submitted.each do |rsvp|%>
    <a href="<%= rsvp_path(rsvp) %>">
      <div class="rsvp-panel col-md-3">
        <div class="guest index-guest text-center">
          <% rsvp.guests.each do |guest| %>
          <div>
            <p class="rsvp-name"><%= guest.name %></p>
          </div>
          <% end %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
  
  <br>
  
  <div class="row">
    <h1>Not Submitted</h1>
    
    <% @rsvps.not_submitted.each do |rsvp|%>
    <a href="<%= rsvp_path(rsvp) %>">
      <div class="rsvp-panel col-md-3">
        <div class="guest index-guest text-center">
          <% rsvp.guests.each do |guest| %>
          <div>
            <p class="rsvp-name"><%= guest.name %></p>
          </div>
          <% end %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
  
</div>
